<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Add person record into database</h1>
    <form action="/api/person" method="post">
    <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input type="number" class="form-control" name="phonenumber">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city">
        </div>
        
        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>
</div>

</div>
</body>
</html>
